@model Proyecto02.Models.Product

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h2 style="margin: 0">Name and Price</h2> 
        
        The product name is @Model.Nombre and it costs @Model.Precio
    </div>
</body>
</html>
