<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body style="color: #333; width: 80%; margin: 0 auto;">
    <h1>Ejercicio 3.1</h1>
    <div style="border: solid medium; padding: 20px;">
        @RenderBody()
    </div>
    <ol>
        <li><a href="/Home/ViewPerson.cshtml">Visualizar Persona</a></li>
    </ol>
</body>
</html>
