
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Felicita</title>
</head>
<body>
    <div> 
        Felicidades 
        <b>@TempData["fotogrado"]</b>
        <br />
        <b>@TempData["direccion"]</b>
    </div>
</body>
</html>
