<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Aplicación sopre Buqués</h1>
        <h2>Index</h2>
        @Html.ActionLink("Gestión de Barcos", "Index", "Barco")<br />
        @Html.ActionLink("Gestión de Tripulantes", "Index", "Tripulante")
    </div>
</body>
</html>
