<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Style.css" rel="stylesheet" />
    <link href="~/Content/Gridmvc.css" rel="stylesheet" />
</head>
<body>
    <div class="wrap">
        <h1>GESTION BARCOS</h1>
        <h2>@ViewBag.PageH2</h2>
        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
