@model Proyecto01.Models.Product
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateProduct2</title>
</head>
<body>
    <div> 
        
        <strong>@Model.Nombre</strong>
        <br />
        @Model.Descripcion
    </div>
</body>
</html>
