@* model string es lo que llega desde el index di HomeControllers
    y es lo que pide *@
@model string

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    @* este Model es lo que recibe *@    
    @*Este es el dato que tenemos en el modelo:*@
    @Model
</div>

